                                   Data Types and Structures

1.What are data structures, and why are they important
- Data structures define how data is stored and accessed in memory. They range from simple structures like arrays and linked lists to more complex ones like trees, graphs, and hash tables. Each type is optimized for specific tasks and operations.
- Why Are Data Structures Important
- Efficiency : in Operations
Choosing the right data structure can drastically improve the performance of operations.
- Optimized Resource Utilization :
Efficient data structures help in optimal memory usage and faster processing, which is crucial in environments with limited resources .

- Scalability :
As applications grow, the ability to handle larger datasets becomes essential. Data structures like trees and graphs enable systems to scale efficiently without compromising performance .

- Foundation for Algorithms :
Algorithms rely on data structures to function effectively. Understanding the relationship between them allows for the design of optimized solutions to complex problems .

- Real-World Applications :
From databases and operating systems to artificial intelligence and machine learning, data structures are integral in building systems that are both efficient and reliable .

2.Explain the difference between mutable and immutable data types with examples
- Mutable Data Types: Mutable data types are objects whose state or value can be changed after they are created.
-Lists: You can modify, add, or remove elements.
my_list = [1, 2, 3]
my_list[0] = 10  # Modifies the first element
my_list.append(4)  # Adds a new element
- Dictionaries: You can change values, add new key-value pairs, or remove them.
my_dict = {'a': 1, 'b': 2}
my_dict['a'] = 10  # Changes value for key 'a'
my_dict['c'] = 3  # Adds a new key-value pair
- Sets: You can add or remove elements.
my_set = {1, 2, 3}
my_set.add(4)  # Adds 4 to the set
my_set.remove(2)  # Removes 2 from the set
- Key Characteristics:

Changes to mutable objects affect all references to that object.

They are generally more memory-efficient for large datasets due to their ability to be modified in place

- Immutable Data Types :Immutable data types are objects whose state or value cannot be changed after they are created. Any operation that seems to modify them actually creates a new object.
-Examples:

Strings: Concatenation creates a new string object.
my_string = "Hello"
new_string = my_string + " World"  # Creates a new string object
- Tuples: You cannot change, add, or remove elements.
- Key Characteristics:

Changes to immutable objects result in the creation of new objects, leaving the original object unchanged.

They are hashable and can be used as keys in dictionaries or elements in sets.

3.What are the main differences between lists and tuples in Python
- In Python, lists and tuples are both used to store collections of items, but they differ significantly in terms of mutability, performance, and usage scenarios. Here's a detailed comparison
- eg  
Lists (Mutable)
my_list = [1, 2, 3]
my_list[0] = 10  # Modifies the first element
my_list.append(4)  # Adds 4 to the end
print(my_list)  # Output: [10, 2, 3, 4]

4.Describe how dictionaries store data
- Key Components of Python Dictionaries
- Hash Table: The core structure consists of an array of entries (buckets), each capable of storing a key-value pair.

- Hash Function: A hash function computes an index from the key, determining where the key-value pair should be stored in the hash table.

- Handling Collisions: When two keys hash to the same index, a collision occurs. Python resolves this using open addressing with quadratic probing, meaning it searches for the next available slot using a quadratic function of the number of collisions.

- Dynamic Resizing: To maintain efficient operations, the hash table dynamically resizes. When the number of entries exceeds a certain threshold (typically two-thirds of the current capacity), the table is resized (usually doubled in size), and all existing entries are rehashed and inserted into the new table.
-Consider the following Python dictionary:
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
- Internally, Python computes the hash values for the keys "apple", "banana", and "cherry". Using these hash values, it determines the appropriate indices in the hash table to store the corresponding key-value pairs. If two keys hash to the same index, Python uses quadratic probing to find the next available slot.

5.Why might you use a set instead of a list in Python
- Ensuring Uniqueness

Set: Automatically removes duplicate elements.

List: Allows duplicates; you'd need to manually remove them.
- Faster Membership Testing

Set: Offers average-case O(1) time complexity for checking if an element exists.

List: Requires O(n) time, as it may need to scan through all elements.
- Performing Set Operations

Set: Supports mathematical set operations like union, intersection, and difference.

List: Does not natively support these operations

6.What is a string in Python, and how is it different from a list
- A string is an ordered sequence of characters enclosed in single (') or double (") quotes. Strings are immutable, meaning once created, their content cannot be changed.
-Eg s = "Hello, World!"
- Key Characteristics:

Immutable: Cannot be modified after creation.Can be indexed and sliced.
Supports various string methods like .lower(), .replace(), .split(), etc.
- A list is an ordered collection of items enclosed in square brackets ([]). Lists are mutable, allowing modification of their content after creation.
- Eg lst = [1, 2, 3, "apple"]
- Key Characteristics:

Mutable: Can be modified (add, remove, or change elements).Can store elements of different data types.
Supports list methods like .append(), .remove(), .sort(), etc.

7. How do tuples ensure data integrity in Python
- In Python, tuples are immutable sequences, meaning their contents cannot be altered after creation. This immutability plays a crucial role in ensuring data integrity, especially in scenarios where the preservation of data consistency is paramount.
- 1 Prevention of Accidental Modifications

once a tuple is created, its elements cannot be changed, added, or removed.
- 2 Support for Hashability

Tuples can be used as keys in dictionaries or elements in sets because they are hashable.
- 3 Ensuring Consistent Data Representation

Tuples are ideal for representing fixed collections of heterogeneous data, such as records or coordinates, where the integrity of each element is critical.
- 4 Preventing Unintended Side Effects

In scenarios where data is passed between functions or modules, using tuples ensures that the data cannot be inadvertently modified, thus preventing unintended side effects and maintaining the integrity of the data across the application.

8.What is a hash table, and how does it relate to dictionaries in Python
- A hash table uses a hash function to compute an index (hash code) into an array of buckets or slots, from which the desired value can be found. When a key-value pair is added, the key is hashed, and the resulting hash determines where the pair is stored in the array. During lookup, the key is hashed again to find the corresponding value
- Key Operations and Time Complexity
Insertion: Adding a key-value pair to the dictionary.

Access: Retrieving the value associated with a key.

Deletion: Removing a key-value pair from the dictionary.

9.Can lists contain different data types in Python
- Yes, in Python, lists can contain elements of different data types. This flexibility allows you to store heterogeneous collections, making lists versatile for various use cases.

10.Explain why strings are immutable in Python
- Memory Efficiency :
Immutability allows Python to optimize memory usage by reusing string objects.
- Thread Safety:
Since strings cannot be modified, they are inherently thread-safe.
- Hashability:
Immutability ensures that the hash value of a string remains constant.
- Security and Integrity:
Immutable strings prevent accidental or intentional modifications, enhancing data security.

11.What advantages do dictionaries offer over lists for certain tasks
- Dictionaries in Python offer several advantages over lists, particularly when you need to associate unique keys with specific values and require efficient data retrieval. Here's an overview of why you might choose a dictionary over a list for certain tasks

12.Describe a scenario where using a tuple would be preferable over a list
- In Python, tuples are often preferred over lists in scenarios where data integrity, performance, and memory efficiency are critical. Here's a practical example illustrating when to use a tuple instead of a list:
- eg # Storing coordinates as a tuple
location = (40.7128, -74.0060)  # New York City (latitude, longitude)

 Attempting to modify the tuple will raise an error
location[0] = 41.0  # Uncommenting this line will raise a TypeError

13.In Python, sets are designed to store unique elements, meaning they automatically handle duplicate values by removing them. When you attempt to add a duplicate item to a set, Python simply ignores the addition without raising an error.
- eg # Creating a set with duplicate values
numbers = {1, 2, 2, 3, 4, 4, 5}
print(numbers)  # Output: {1, 2, 3, 4, 5}

14.How does the “in” keyword work differently for lists and dictionaries
- In Python, the in keyword serves to check for membership within various data structures, but its behavior differs between lists and dictionaries due to their underlying implementations.

15.Can you modify the elements of a tuple? Explain why or why not
- In Python, tuples are immutable, meaning that once a tuple is created, its elements cannot be changed, added, or removed. This immutability is a fundamental property of tuples, distinguishing them from lists, which are mutable and allow modifications after creation.

16.What is a nested dictionary, and give an example of its use case
- A nested dictionary is a dictionary where each value can be another dictionary, enabling the representation of multi-level data structures.
- eg myfamily = {
    "child1": {"name": "Emil", "year": 2004},
    "child2": {"name": "Tobias", "year": 2007},
    "child3": {"name": "Linus", "year": 2011}
}

17.Describe the time complexity of accessing elements in a dictionary
- In Python, dictionaries are implemented using hash tables, which enable efficient data retrieval. Accessing an element by its key in a dictionary typically has a time complexity of O(1) on average. This means that the time required to retrieve a value does not depend on the size of the dictionary

18.In what situations are lists preferred over dictionaries
- Maintaining Order of Elements
- Index-Based Access
- Allowing Duplicate Elements
- Simple, Linear Data Storage
- Efficient Iteration and Appending

19.Why are dictionaries considered unordered, and how does that affect data retrieval
- In Python, dictionaries are designed to be unordered collections of key-value pairs. This means that the order in which items are inserted into a dictionary is not guaranteed to be preserved when iterating over it. However, starting from Python 3.7, dictionaries maintain the insertion order of items, making them ordered collections. This change ensures that when you iterate over a dictionary, the items are returned in the order they were added.
- How Does This Affect Data Retrieval
- The unordered nature of dictionaries means that:
- No Indexing or Slicing: You cannot access dictionary elements by their position using indices or slices, as you can with lists.
- Unpredictable Iteration Order: Before Python 3.7, iterating over a dictionary did not guarantee any specific order of items.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
-In Python, lists and dictionaries are both versatile data structures, but they differ significantly in how they store and retrieve data. Here's a detailed comparison focusing on data retrieval:
- Lists: Indexed Access
Structure: Ordered collection of elements.
- Access Method: Elements are accessed via their index positions.
- Time Complexity:
- Access by Index: O(1)
- Search for an Element: O(n) in the worst case, as it may require scanning the entire list.
- Use Case: Ideal for maintaining an ordered collection where elements are accessed by their position.

                       Practical Questions

1 Write a code to create a string with your name and print it

In [1]:
name = "Your Name"

print(name)

Your Name

2.Write a code to find the length of the string "Hello World"

In [2]:

my_string = "Hello World"
string_length = len(my_string)
print("The length of the string is:", string_length)

The length of the string is: 11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
text = "Python Programming"
substring = text[:3]
print(substring)

Pyt

4.Write a code to convert the string "hello" to uppercase

In [4]:
greeting = "hello"
uppercase_greeting = greeting.upper()
print(uppercase_greeting)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
sentence = "I like apple"
change_sentence = sentence.replace("apple", "orange")
print(change_sentence)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
num = [1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("The second element is:", second_element)

The second element is: b

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("The minimum number in the tuple is:", min_number)

The minimum number in the tuple is: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [15]:
fruits = ('apple', 'banana', 'cherry')
if 'kiwi' in fruits:
    print("Yes, 'kiwi' is in the tuple.")
else:
    print("No, 'kiwi' is not in the tuple.")

No, 'kiwi' is not in the tuple.

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5 }
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
my_dict = {
    "name": "Younis",
    "age": 27,
    "city": "Srinagar"
}
print(my_dict)

{'name': 'Younis', 'age': 27, 'city': 'Srinagar'}

22.Write a code to add a new key-value pair "country": "INDIA" to the dictionary {'name': 'younis', 'age': 25}.

In [24]:
my_dict = {'name': 'younis', 'age': 25}
my_dict['country'] = 'INDIA'
print(my_dict)

{'name': 'younis', 'age': 25, 'country': 'INDIA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'younid', 'age': 27}

In [25]:
my_dict = {'name': 'younis', 'age': 27}
name_value = my_dict['name']
print(name_value)

younis

24.Write a code to remove the key "age" from the dictionary {'name': 'Younis', 'age': 27, 'city': 'Srinagar'}.

In [26]:
my_dict = {'name': 'Younis', 'age': 27, 'city': 'Srinagar'}
del my_dict['age']
print(my_dict)

{'name': 'Younis', 'city': 'Srinagar'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Younis', 'city': 'Srinagar'}.

In [27]:
my_dict = {'name': 'Younis', 'city': 'Srinagar'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26.Write a code to create a list, a tuple, and a dictionary, and print them all

In [28]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Create a dictionary
my_dict = {'name': 'Younis', 'age': 28, 'city': 'Budgam'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Younis', 'age': 28, 'city': 'Budgam'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [29]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[2, 19, 69, 80, 92]

28.Write a code to create a list with strings and print the element at the third index

In [30]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result

In [31]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'country': 'USA'}

# Combine the dictionaries using update()
dict1.update(dict2)

# Print the combined dictionary
print(dict1)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

30.Write a code to convert a list of strings into a set.

In [32]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple', 'date'}